<div class="sidebar d-flex">
        <div class="sidebar-inner">
                <ul class="nav flex-column">
                        <li class="nav-item">
                                <a class="nav-link active d-flex flex-row"" aria-current=" page" href="#">
                                        <span class="material-icons me-1">
                                                menu_book
                                        </span>
                                        Active</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                        </li>
                </ul>

        </div>
</div>