
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Forgot Password</title>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap"
                rel="stylesheet">
         <link    rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>
<body>



<main class="main d-flex align-items-center justify-content-center border-top" style="min-height: 100vh; background: #e1b298;">
	<div class="container">
		<div class="row  justify-content-center align-items-center py-5">

			<div class="col-md-5">
				<h2 class=" text-center animate__animated animate__bounceIn" style="font-family: Lobster;">Forgot Paswword</h2>
        <p class='lead text-center'> Enter email below to retrieve your new password.</p>
				<form action='/' class="p-3  forgot "  id='form'>

					<div class="form-floating mb-3">
					  <input name='email'
					  autocomplete="false" type="email" class="form-control rounded-pill" id="email" placeholder="name@example.com">
					  <label for="floatingInput">Email address</label>
					</div>
					

					<div class="d-grid gap-2 mt-2">
					  <button type="submit" id='forgot-password' class="btn btn-secondary rounded-pill login" type="button">Forgot password</button>
            

					</div>
				</form>
			</div>
		</div>
		<!-- toast -->
		<div class="toast-container position-absolute bottom-0 end-0 p-3" >
		<div id='toast' class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		  <div class="toast-header">
		    <span class="material-icons">info</span>
		    <strong class="me-auto">Info</strong>
		    <small>11 mins ago</small>
		    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		  <div class="toast-body">
		    
		  </div>
		</div>
	</div>
		<!-- toast end -->
	</div>
</main>


<script type="text/javascript">
	const email =document.getElementById('email')
	const forgotPassword = document.getElementById('forgot-password');
	const form = document.getElementById('form')
	var toastLiveExample = document.getElementById('toast');
	const toastBody = document.getElementsByClassName('toast-body')




	// send form
	form.addEventListener("submit", submit);
	function submit (e){
    console.log(email.value)
    e.preventDefault();

    if (email.value ==='') {
      let toast = new bootstrap.Toast(toastLiveExample)
						toastBody[0].innerHTML = "please provide your email address"
    	    	toast.show();
        return false
      
    }

   const userEmail = email.value;
  // send email to server
    	fetch(`/users/forgot-password/${userEmail}`)
			.then(response => response.json()).then((data)=>{
        if(data.status ==='failed'){
          showToast(toastBody, data.message)
          
        }
        // redirect user to her dashboard specifically where shen cn change his password.
        
      }
        
      )
    


	}


	function showLoginButton (e){
		const isValid = validateEmail(e.target.value);
		 if(!isValid)
		 	return login.style.display ='none';
		 login.style.display ='block';
	}

  function  showToast(toastBody, message){
    let toast = new bootstrap.Toast(toastLiveExample)
						toastBody[0].innerHTML =message
    	    	toast.show();
    
  }



</script>
</body>
</html>
