<%- include('./partials/header'); %>
  <!--Header ends here-->
  <!-- banner -->
  <div class="banner ">
    <div class="overlay-content d-flex align-items-center justify-content-center">
      <div class="overlay-inner">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
              <h1 class="display-3 animate__animated animate__bounce">Lorem ipsum dolor</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium modi amet
                voluptatum ut unde
                quod laborum. Molestias ab atque consectetur minima dicta. Maiores beatae, ut debitis quo laborum
                inventore iste!</p>
              <p><a href="#foods" class="btn btn-primary">Get started</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <img
      src="https://images.pexels.com/photos/4262174/pexels-photo-4262174.jpeg?cs=srgb&dl=pexels-august-de-richelieu-4262174.jpg&fm=jpg"
      alt=" welcome " class="img-banner"> -->

  </div>
  <!-- banner ends here -->
  <!-- Main content -->


  <main class="main">

    <div class="container">
      <div class="row py-5 column-info justify-content-center align-items-center">

        <div class="col-md-4 py-3">

          <div class="d-flex flex-column">
            <span class="material-icons-48 ">restaurant</span>
            <h2 class="display-5">Lorem ipsum </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>

        <div class="col-md-4 py-3">

          <div class="d-flex flex-column">
            <span class="material-icons-48">restaurant_menu</span>
            <h2 class="display-5">Lorem ipsum </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <div class="col-md-4 py-3">
          <div class="d-flex flex-column">

            <span class="material-icons-48">
              delivery_dining
            </span>

            <h2 class="display-5">Lorem ipsum </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>

        </div>




      </div>
      <div class="row justify-content-center align-items-center py-5">
        <div class="col-md-8 text-center">
          <h2 class="display-5" style="color:#6B705C">Lorem ipsum dolor sit</h2>
          <p style="color:#B7B7A4; font-family: Roboto; font-weight: 100;">amet consectetur adipisicing elit. Itaque
            incidunt nobis atque
            laudantium eum laborum
            odit cum ipsum
            consectetur illo,
            odio perferendis architecto explicabo fugit aperiam enim, doloremque nem</p>
          <p><a href="" class="link-secondary fw-bold text-decoration-none">click to see more <span
                class="material-icons">
                east
              </span>
            </a></p>
          <div class="video">

            <video muted autoplay loop preload="none">
              <source
                src="https://player.vimeo.com/external/450070173.hd.mp4?s=fe81bad639bd6c3aff7ddef332eaef99cbf6f27d&profile_id=172&oauth2_token_id=57447761"
                type="video/mp4">

              Sorry, your browser doesn't support embedded videos.

            </video>
          </div>

        </div>
      </div>
    </div>

    <div id="foods" class="container py-4 shadow" style="background:#FFE8D6;">
      <div class="row py-5">
        <div class="col-md-12">
          <h2 class="display-3">
            <span class="material-icons">
              trending_up
            </span>Trendings
          </h2>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tenetur sapiente hic
            adipisci.</p>
          <div class="trendings d-flex border-top py-3">

            <% entries=data.trendings.map(function(elem) { return `<div class="flip-card  mx-2">
              <div class="inner border ">
                <div class="front">
                  <h1 class="display-4">${elem.name}</h1>
                  <img src="${elem.image}" />
                </div>

                <div class="back p-3">
                  <h1 class="display-4 ">${elem.name}</h1>

                  <a href="" class="btn btn-primary">View</a>

                </div>

              </div>
          </div>`
          ; }) %>
          <p>
            <%- entries %>
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="d-flex py-5">
      <div class="container">
        <div class="row py-5">
          <div class="col-md-6 py-3">
            <h2 class="display-4" style="color:#6B705C">
              Lorem ipsum dolor sit amet
            </h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi deleniti magnam ex nisi
              deserunt, cupiditate aut dolore odit eligendi cum eveniet, possimus vitae quibusdam iure enim magni qui
              eos
              velit!</p>
            <p> <a href="" class="btn btn-primary">More</a></p>

          </div>
          <div class="col-md-6">

            <img style='width: 80%;' src="/images/undraw_online_discussion_re_nn7e.svg" alt='' />

          </div>
        </div>
      </div>
    </div>


  </main>
  <%- include('./partials/footer'); %>
    </div>

    </body>

    </html>