<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>



  <main class="main d-flex align-items-center justify-content-center border-top"
    style="min-height: 100vh; background: #eee;     background-image: -webkit-linear-gradient(15deg, #eee 50%,#cb997e 50% );">
    <div class="container">
      <div class="row  justify-content-center align-items-center py-5">

        <div class="col-md-5">
          <h2 class="displa-5 text-center animate__animated animate__bounceIn" style='font-family:Lobster'>Sign up</h2>
          <!-- rgistration form -->

          <div class='form-wrapper d-flex justify-content-center align-items-center shadow-sm'>
            <div class='error' id='error'></div>
            <form id='register' class="register_form" method='post' action='/users/register'>

              <div class="form-floating mb-3">
                <input id='email' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input id='password' type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-outline-secondary mb-3"> Sign up</button>
              </div>
            </form>
          </div>
          <p class="text-center">Already have an account?<a href='/login' title='login'>Login Here</a></p>
          <!-- registration form ends here -->


        </div>
      </div>
    </div>
<<<<<<< HEAD
    <!-- toast -->
    <div class="toast-container position-absolute bottom-0 end-0 p-3">
      <div id='toast' class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded me-2" alt="...">
          <strong class="me-auto">Error</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>
    <!-- toast end -->

  </main>
=======
  </div>
<!-- toast -->
		<div class="toast-container position-absolute bottom-0 end-0 p-3" >
		<div id='toast' class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		  <div class="toast-header">
		    <img src="..." class="rounded me-2" alt="error">
		    <strong class="me-auto">Error</strong>
		    <small>11 mins ago</small>
		    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		  <div class="toast-body">
		    Hello, world! This is a toast message.
		  </div>
		</div>
	</div>
		<!-- toast end -->

</main>
>>>>>>> 4e3399d9dda38a193efc82f70f5af3c1a40eefed

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type='text/javascript'>
    const registerForm = document.getElementById('register');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const error = document.getElementById('error');
    var toastLiveExample = document.getElementById('toast');
    const toastBody = document.getElementsByClassName('toast-body')


    registerForm.addEventListener('submit', (e) => {
      e.preventDefault();

      //validation
      if (email.value === '' && password.value === '') {
        error.innerHTML = 'email and password is required';
        return;

      } else {




        axios.post('/users/register', {
          email: email.value,
          password: password.value
        })
<<<<<<< HEAD
          .then(function (response) {
            console.log(response);
            if (response.data.success) {
              console.log(response.data);
              // save user to localstorage
              window.loaction = '/login';

            } else {
              var toast = new bootstrap.Toast(toastLiveExample)
              toastBody[0].innerHTML = response.data.error;
              toast.show();
              return;

            }
          })
          .catch(function (error) {
            console.log(error);
          });
=======
        .then(function (response) {
         
          if(response.data.success){
            console.log(response.data);
            // save user to localstorage
             window.loaction ='/login';
            
          }else{          
            
            var toast = new bootstrap.Toast(toastLiveExample)
						toastBody[0].innerHTML = response.data.message;
    				toast.show();
						return;           
           
          }
        })
        .catch(function (error) {
          console.log(error);
        });
>>>>>>> 4e3399d9dda38a193efc82f70f5af3c1a40eefed
      }

    })

  </script>


</body>

</html>