/*
CB997E
DDBEA9
FFE8D6
6B705C
A5A58D
B7B7A4
*/


.left-sidebar{
  position: fixed;
  top:0;
  background: #cb997e;
  height: 100%;
}
.left-sidebar .nav .material-icons{
  color: #DDBEA9;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.material-icons-48 {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 48px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.navbar .material-icons {
  vertical-align: bottom;
  margin-right: 2px;
  color: #ffe8d6;
}

.bg-light-1 {
  background-color: #cb997e;
}
.navbar-light .navbar-brand {
  color: #ffe8d6;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #ffe8d69e;
}
.btn-primary {
  background-color: #cb997e;
  color: #ffe8d6;
  border-color: #cb997e;
}
.btn-primary:hover {
  color: #fff;
  background-color: #cb997e;
  border-color: #ead0c2;
}
.btn-primary:active {
  color: #fff;
  background-color: #cb997e;
  border-color: #ead0c2;
}

.wrapper {
  min-height: 100vh;
}
.banner {
  width: 100%;
  position: relative;
  height: 100%;
  background: url("https://images.pexels.com/photos/4262174/pexels-photo-4262174.jpeg?cs=srgb&dl=pexels-august-de-richelieu-4262174.jpg&fm=jpg");
  background-size: cover;
}
.banner img {
  width: 100%;
}
.overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.banner .overlay-content {
  background: linear-gradient(#9f8b7d94, #ffe8d69e);
}
.overlay-inner {
}
.overlay-inner h1 {
  color: #ffe8d6;
  font-family: Lobster;
}

.overlay-inner p {
  color: #ffe8d6;
  font-family: Lobster;
}
.column-3 {
  text-align: center;
}
.column-info {
  min-height: 400px;
}
.column-info h2 {
  font-family: Lobster;
  color: #9a998c;
}
.column-info p {
  color: #888884;
}
.column-info:nth-child(1) span {
  color: #888884;
  font-weight: bold;
  border: solid #eeee 3px;
  display: block;
  width: 70px;
  background: white;
  padding: 10px;
  transition: all 1s;
}

#foods h2 {
  color: #cb997e;
  font-family: Lobster;
}
#foods h2 span {
  color: #6b705c;
}
#foods p {
  color: #a5a58d;
}
.flip-card {
  width: 300px;
  height: 340px;
  perspective: 1000px;
}
.flip-card .inner {
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.flip-card:hover .inner {
  transform: rotateY(0.5turn);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.back {
  background-color: #b7b7a4;
  color: white;
  transform: rotateY(0.5turn);
  border-radius: 10px;
}
.video {
  border: solid 2px #eee;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 20px;
  border-bottom: solid 5px #b7b7a4;
}
.video video {
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 55px;
  padding: 50px 10x 50px 10px;
  height: 100%;
  width: 15%;
  background: #f7f7f7ed;
  transition: background 2s;
}

.sidebar:hover {
  background: #f7f7f7;
}
.sidebar-inner span {
  color: #9a998c;
}
.meal-plan {
  width: 100%;
  background: #f0f0f0;
}
.meal-plan-banner {
  min-height: 350px;
  background-color: #f0f0f0;
  margin-top: 56px;
  /* background: url("/images/undraw_healthy_lifestyle_-6-tyl.svg"); */
}
.meal-plan-banner img {
  width: 30%;
}
.main-content {

}

.recipe-card {
  width: 270px;
  /*border: solid 1px #eee;*/
    padding: 10px;
    position: relative;
    height: 300px;

  font-family: Lobster;
}
.recipe-card h1 {

  color: #eee;
  font-family: Lobster;
  position: absolute;
  top: 20px;
  z-index: 1010;
}

.recipe-card p {

  color: #888884;
  font-family: Lobster;

}
.recipe-card img{
  border-radius: 10px;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #f96332;
}

a:hover,
a:focus {
    color: #f96332;
}

p {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
}

.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}

.recipe-card:hover .recipe-details {

  visibility: visible;
  display: block;

  transition: all 2s;
}

.recipe-details {
  width: 100%;
  position: absolute;
  z-index: 1010;
  bottom: 0px;
  display: block;
  visibility: hidden;


}
.recipe-wrapper-item{
  min-height: 300px;
  transition: all 2000ms
}
.recipe-wrapper-item:hover {
  background: #f7f7f7;
  transition: all 2000ms;
}
.action-wrapper{
  background: #cb997ee8;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;

}
.likes, .share, .pin{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border:none;
  margin: 10px, 5px, 10px, 5px;
  padding: 10px;
}
.likes{
  color:#B7B7A4;
  background: white;

}
.share{
  color:#CB997E;
  background: white;

}
.pin{
  color:#6B705C;
  background: white;

}


.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes nc-icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.nav-item a span {
  vertical-align: middle;
}



.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
    color: #888888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
    background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: #444;
    border-radius: 30px;
    color: #FFFFFF;
}

.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
   /* box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);*/
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card[data-background-color="orange"] {
    background-color: #f96332;
}

.card[data-background-color="red"] {
    background-color: #FF3636;
}

.card[data-background-color="yellow"] {
    background-color: #FFB236;
}

.card[data-background-color="blue"] {
    background-color: #2CA8FF;
}

.card[data-background-color="green"] {
    background-color: #15b60d;
}

[data-background-color="orange"] {
    background-color: #e95e38;
}

[data-background-color="black"] {
    background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    color: #FFFFFF;
}


@font-face {
  font-family: 'Nucleo Outline';
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
  src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
  font-weight: normal;
  font-style: normal;

}
/* diets */
.diets label {
    width: 140px;
}

   


/* diet ends */

/*Login*/

.login input[type=text], .login input[type=password], .login input[type=email]{
  background: #c49278;
  border-color: #ffe8d685;

}
.login input[type=text]:focus .loign input[type=password]:focus , .login input[type=email]:focus {
background: #c49278;
outline: 0;
color: #212529;
border-color: #ffe8d685;
outline: 0;
box-shadow: 0 0 0 .25rem rgb(203, 153, 126);

}

/* ends Login*/
/* register */
.form-wrapper  {
  background: white;
  padding: 15px;
  border: solid 1px #eee;
  min-height: 300px;
}



.form-wrapper input[type=password]:focus ,.form-wrapper input[type=email]:focus{
  background: white;
  border:solid 1px #eee;
}
/* register ends */

/* dashboard */

.dashboard .left-sidebar{

  width:4.5rem;
  
}

/* dashbaord ends here */



footer{
    margin-top:50px;
    color: #555;
    background: #fff;
    padding: 25px;
    font-weight: 300;
    background: #f7f7f7;

}
.footer p{
    margin-bottom: 0;
}
footer p a{
    color: #555;
    font-weight: 400;
}

footer p a:hover{
    color: #e86c42;
}

.recipe-view-comments {
  width: 100%;
}

.comment{

}

.ingredients div {
  background: #f4f4f2;
  width: 130px;
  text-align: center;
}

.content {
  width: 50%;
/*   margin-left: 75px; */
  margin-left:20%;
  margin-right: 40px;
}

.aside {
  position: fixed;
  right: 10px;
  width: 25%;

  top: 0;
  height: 100%;
  border: solid 1px #eee;

}
.inner-aside{
  position: fixed;
}

.aside-left .btn  span:nth-child(2){
  font-family:Lobster;
}
@media screen and (max-width: 768px) {

    .nav-tabs {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
}


.recipe-wrapper-item img{
  height: 100%;
  width: 100%;
}




@media (min-width: 576px) {
  .banner {
    height: 100vh;
  }

}
@media (max-width: 575.98px) {
  .banner {
    height: 100vh;
  }

  .banner .overlay-content {
    padding-top: 60px;
  }


  .main-content {
    margin-left: 0;
  }
   .recipe-wrapper-item{
    height: auto;
    margin-bottom: 10px;
    padding:.35rem !important
  }
 /* .recipe-wrapper-item img{
  height: 50%;
  width: 100%;

}*/
.content {
  width: 100%;
  margin-left: 0px;
}

.aside{
  position: relative;
  overflow: scroll;
}
.inner-aside{
  position: fixed;
}


}


@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
