<%- include('../partials/header'); %>
<div class="main">
	<div class="container">
		<div class="row py-5 ">
			<div class="col-md-9">
				<div class="d-flex border-bottom flex-column pt-3 pb-3">
					<h1 class="display-3"> All Recipes (<%= data.length %>)</h1>
					<p class="lead">a responsibility that I have, to push possibilities, to show people.</p>
					<div class="recipe-filter d-flex">
						<button type="button" name="button" class='btn btn-outline-primary me-1'>most views</button>
							<button type="button" name="button" class='btn btn-outline-secondary me-1'>Newest</button>
								<button type="button" name="button" class='btn btn-outline-info'>Likes</button>

					</div>
				</div>

				<!-- Recipes list -->
				<%- include('../partials/recipes') %>


				<!-- pagination -->
          <% if(data.length !=0){  %>
				<div class="d-flex mt-3">

					<nav aria-label="Page navigation example">
				  <ul class="pagination pagination-lg">
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="page-item"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>

				</div>
				<!-- pagination ends here -->
			</div>
            <%} %>
			<div class="col-md-3">
				<!-- Filter -->

				<!-- Feature -->
			</div>
		</div>

	</div>
</div>
